<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Gobelins, l'école de l'image</h1>
            <span>Multimedia Conception & Developement</span>
            <span><address>Paris, France</address><time>2013 to 2014</time></span>
        </header>
        <p>
          - Made an alarm clock by reusing an old fashioned telephone and <em>Arduino</em><br>
          - <em>iOS</em> application to renew correspondance between children around the world > <a href="https://www.youtube.com/watch?v=ppgZis61HQc" target="_blank">video</a>
        </p>
    </article>
    <article>
        <header>
            <h1>Etna</h1>
            <span>Software architect, Application developer</span>
            <span><address>Paris, France</address><time>2013 to 2014</time></span>
        </header>
        <p>
            - Recode the existing functions of the <em>C</em> library > <a href="http://antonycanut.net/en/swimming-pool-etna-experience/" target="_blank">article</a>
        </p>
    </article>
    <article>
        <header>
            <h1>Université Paris XIII</h1>
            <span>DUT Multimedia and Internet</span>
            <span><address>Université Paris XIII, France</address><time>2011 to 2013</time></span>
        </header>
        <p>
            - Video game programming with <em>Java</em><br>
            - <em>Augmented Reality</em> Mobile app for children > <a href="https://www.youtube.com/watch?v=-hv-XitDqLg" target="_blank">video</a>
        </p>
    </article>
</section>
