<section class="thirteen columns">
    <h1>Professional Career</h1>
    <article>
        <header>
            <h1>Ruby Developer</h1>
            <span>Plezi Marketing Automation Software</span>
            <span><address>Paris</address><time>2014 to 2015, 1 year</time></span>
        </header>
        <p>
            - Custom tracking system like google analytics to study customer's behaviours.<br>
            - Created an algorithm that send the best content based on customer's interests. <em>Mongoid, Ruby On Rails</em><br>
            - Changed organization development workflow habits to add Pull Reviews, QA test
        </p>
    </article>
    <article>
        <header>
            <h1>Php Developer</h1>
            <span>ChicTypes e-commerce platform</span>
            <span><address>Paris</address><time>2014, 8 months</time></span>
        </header>
        <p>
          Made the sales process 2 days faster on average. Improved <em>Prestashop</em> buying process to match ChicTypes custom workflow. Tracking shipping/return status from carriers (using SOAP or REST API) to the intern CRM/customers interfaces, with SMS and email notifications
        </p>
    </article>
    <article>
        <header>
            <h1>Php Developer</h1>
            <span>Giving Corner leverage employee motivation by social acts</span>
            <span><address>Paris</address><time>2013, 4 months</time></span>
        </header>
        <p>
          Maintenance and development on the existing codebase <em>Drupal 7</em> (New modules, integration).
        </p>
    </article>
</section>
